body {
	height: 565px;
	width: 809px;
	margin-left: auto!important;
	margin-right: auto!important;
}

.mainPanel {
	height: 565px;
	width: 809px;
	margin-left: auto!important;
	margin-right: auto!important;
	position : relative!important;
}
.logo {
	width: 250px;
	height: 44px;
}
.pentaho-label {
	font-weight: bold;
	font-size: 14px;
	font-family: verdana;
	color: white;
}
.lft-Panel {
	width: 250px;
	height: 50px;
	float: left;
}
.rgt-Panel {
	width: 235px;
	height: 180px;
	float: left;
}
.label-browser {
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
	width: 150px;
	height: 20px;
}

.gwt-ProgressBar-shell {
	border: 2px solid #faf9f7;
	border-right: 2px solid #848280;
	border-bottom: 2px solid #848280;
	background-color: #AAAAAA;
	height: 30px;
	width: 661px;
	position: absolute !important;
	z-index: 50;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 0px;
	color: white;
}

.formPane {

}

.gwt-Label-header {
	font-weight: bold;
	font-size: 16px;
	font-family: verdana;
	color: white;
}

.gwt-RadioButton {
	font-weight: bold;
	font-size: 14px;
	font-family: verdana;
}